In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd
import re
import os, sys, json
rpath = os.path.abspath('..')
if rpath not in sys.path:
    sys.path.insert(0, rpath)

import utils.script as utils

## Extract each week

In [134]:
#!pip install pyLDAvis
allweek_data = pd.read_csv("../data_files/submission.csv")
allweek_data = pd.DataFrame(data)

In [135]:
allweek_data.columns

Index(['user_id', 'submission_id', 'payload', 'rubric_id', 'rubric_type',
       'next_action', 'request_origin', 'params', 'code_content'],
      dtype='object')

In [5]:
allweek_data['rubric_id'].unique()

array([10, 15, 32, 38, 44, 61, 65, 72])

In [6]:
rubric_id_10 = allweek_data[allweek_data["rubric_id"] == 10].reset_index(drop=True)
rubric_id_15 = allweek_data[allweek_data["rubric_id"] == 15].reset_index(drop=True)
rubric_id_32 = allweek_data[allweek_data["rubric_id"] == 32].reset_index(drop=True)
rubric_id_38 = allweek_data[allweek_data["rubric_id"] == 38].reset_index(drop=True)
rubric_id_44 = allweek_data[allweek_data["rubric_id"] == 44].reset_index(drop=True)
rubric_id_61 = allweek_data[allweek_data["rubric_id"] == 61].reset_index(drop=True)
rubric_id_65 = allweek_data[allweek_data["rubric_id"] == 65].reset_index(drop=True)
rubric_id_72 = allweek_data[allweek_data["rubric_id"] == 72].reset_index(drop=True)
# Print the resulting rows
print("week1",rubric_id_10.shape) #telecom dataset
print("week2",rubric_id_15.shape) #dropped_airflowdb
print("week3",rubric_id_32.shape) #dropped_fewfiles
print("week5",rubric_id_38.shape) #algorand
print("week6",rubric_id_44.shape) #rag
print("week7",rubric_id_61.shape) #amharic finetuning
print("week9",rubric_id_65.shape) #hardhat
print("week10",rubric_id_72.shape) #image generation
#ruburic_id_10.head()

week1 (53, 9)
week2 (40, 9)
week3 (8, 9)
week5 (36, 9)
week6 (35, 9)
week7 (31, 9)
week9 (31, 9)
week10 (32, 9)

In [7]:
week1_python = allweek_data[allweek_data["rubric_id"] == 10].reset_index(drop=True)
# rubric_id_15 = data[data["rubric_id"] == 15].reset_index(drop=True)
# rubric_id_32 = data[data["rubric_id"] == 32].reset_index(drop=True)
week5_algo = allweek_data[allweek_data["rubric_id"] == 38].reset_index(drop=True)
week6_rag = allweek_data[allweek_data["rubric_id"] == 44].reset_index(drop=True)
week7_finetune = allweek_data[allweek_data["rubric_id"] == 61].reset_index(drop=True)
week9_eth = allweek_data[allweek_data["rubric_id"] == 65].reset_index(drop=True)
week10_img_generate = allweek_data[allweek_data["rubric_id"] == 72].reset_index(drop=True)
# Print the resulting rows
print("week1",week1_python.shape) #telecom dataset
# print("week2",rubric_id_15.shape) #dropped_airflowdb
# print("week3",rubric_id_32.shape) #dropped_fewfiles
print("week5",week5_algo.shape) #algorand
print("week6",week6_rag.shape) #rag
print("week7",week7_finetune.shape) #amharic finetuning
print("week9",week9_eth.shape) #hardhat
print("week10",week10_img_generate.shape) #image generation
#ruburic_id_10.head()

week1 (53, 9)
week5 (36, 9)
week6 (35, 9)
week7 (31, 9)
week9 (31, 9)
week10 (32, 9)

In [11]:
# week1_python.to_csv('../data_files/week1_python.csv', index=False)
# week5_algo.to_csv('../data_files/week5_algo.csv', index=False)
# week6_rag.to_csv('../data_files/week6_rag.csv', index=False)
# week7_finetune.to_csv('../data_files/week7_finetune.csv', index=False)
# week9_eth.to_csv('../data_files/week9_eth.csv', index=False)
# week10_img_generate.to_csv('../data_files/week10_img_generate.csv', index=False)

In [11]:
# Replace np.nan values with an empty string
# week6_rag['code_content'].fillna('', inplace=True)

## Extract basic sample form week1

In [373]:
file_path ="../data_files/week7_finetune.csv"
data = utils.read_data(file_path)

In [374]:
data['code_content'].isnull().value_counts()

code_content
False    21
True     10
Name: count, dtype: int64

In [375]:
# drop none rows from code_content column
data.dropna(subset=['code_content'], inplace=True)

In [376]:
data['code_content'].isnull().value_counts()

code_content
False    21
Name: count, dtype: int64

In [377]:
data = utils.drop_column(data)

DataFrame after dropping unwanted column

In [378]:
data['code_content'] = data['code_content'].apply(utils.clean_packages)
data['code_content'] = data['code_content'].apply(utils.clean_content)
data['code_content'] = data['code_content'].apply(utils.clean_License)
#data['code_content'] = data['code_content'].apply(utils.remove_comments)
data['code_content'] = data['code_content'].apply(utils.clean_perged_files)
data['code_content'] = data['code_content'].apply(utils.extract_content)
data['code_content'] = data['code_content'].apply(utils.clean_installs)

In [379]:
data.loc[10:20]

    user_id                                       code_content
10      617  import unittest\nimport sys, os\nsys.path.appe...
12      746  ## #### Import modules\n%import sys, os, json,...
13      642  import unittest\nimport sys, os\nsys.path.appe...
15      659  ## ### Remove:\n\n## * Null values, new_line("...
16      603  ## ### Remove:\n\n## * Null values, new_line("...
17      705  import json\nimport re\n\n\nclass Util:\n    d...
18      682  ! pip install transformers bitsandbytes peft t...
19      585  ## ### Remove:\n\n## * Null values, new_line("...
20      763  ## ### Remove:\n\n## * Null values, new_line("...

In [380]:
# Drop a row from the dataframe
# data = data.drop(8)
data.shape

(21, 2)

In [381]:
#data['code_content'][10] = extract(data['code_content'][10])
data['code_content'] = data['code_content'].apply(utils.extract)

In [382]:
data['code_content'] = utils.remove_extra_spaces(data['code_content'])

In [383]:
data = utils.remove_emptycontent_rows(data)

In [384]:
utils.checking_for_empty_value(data)

'The column does not contain empty string values.'

In [385]:
data.shape

(21, 2)

In [76]:
# import os
# output_directory = '../content/'
# os.makedirs(output_directory, exist_ok=True)

# # Iterate over each row in the DataFrame
# for index, row in data.iterrows():
#     # Get the code content and create the file path
#     code_content = row['code_content']
#     file_path = os.path.join(output_directory, f'file_{index}.txt')

#     # Write the code content to a text file
#     with open(file_path, 'w') as file:
#         file.write(code_content)

In [386]:
user_data = pd.read_csv("../data_files/email_id_files.csv")
user_data = pd.DataFrame(user_data)
user_data.head()

   Unnamed: 0                        Email  User ID         label
0           0      abrhamaddis32@gmail.com      619  Intermediate
1           1        merronmuche@gmail.com      766         Basic
2           2         jaraguta03@gmail.com      665         Basic
3           3  abelbekele.addise@gmail.com      606      Advanced
4           4           amitchew@gmail.com      604         Basic

In [387]:
user_data = user_data.drop('Unnamed: 0', axis=1)

In [388]:
user_data.rename(columns={'User ID': 'user_id'}, inplace=True)

In [389]:
# Merge the DataFrames based on matching user_id values
combined_data = pd.merge(data, user_data, on='user_id', how='inner')

In [390]:
combined_data.head()

,user_id,code_content,Email,label
0,619,import json\nimport re\n \nclass Util():\n de...,abrhamaddis32@gmail.com,Intermediate
1,766,import json\nimport re\n \nclass Util:\n def ...,merronmuche@gmail.com,Basic
2,761,! pip install transformers bitsandbytes peft t...,lillian.alehegn@aait.edu.et,Basic
3,765,"## ### Remove:\n\n## * Null values, new_line(""...",mtadesse813@gmail.com,Basic
4,652,! pip install transformers bitsandbytes peft t...,fanuelabebe@gmail.com,Advanced

In [360]:
# combined_data.to_csv('../data_files/all_week_with_comment_labeled/all_week7_finetune.csv', index=False)